html{height: 100%;}
body {
  margin: 0;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url('./assets/cardbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.p-button {
  padding: 5px !important;
  background: transparent !important;
  color: #fff!important;
}
.p-selectbutton .p-button.p-highlight {
    background: #fff !important;
    border-color: #fff!important;
    color: #000000!important;
}
